# Python & virtualenv
__pycache__/
*.py[cod]
.venv/

# IDE
.idea/

# Local databases
*.db
data/dev/
data/prod/

# Trained models & metrics
trained_models/
developed_models/
metrics/

# Visualization outputs
visualization/*.png